{% extends "base.html" %}

{% block content %}
		<h1 style="color:rgb(79, 151, 207);">Login</h1>
		<a href="/">Register</a>


		{% if message %}
			<h3 class="alert alert-danger">{{ message }}</h3>
		{% endif %}

		<div id="wrap-form">
			<form action="" method="post">
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
			    <p class="error-form">{{ error_email }}</p>
			  	
			  </div>

			  <div class="form-group">
			    <label for="password">Password</label>
			    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
			    <p class="error-form">{{ error_pass }}</p>
			  	
			  </div>
		</div> 
		
		  <button type="submit" class="btn btn-primary">Login</button>
		</form>

{% endblock %}
	